body {
  background-image: url("background.jpg");
  background-size: cover;
  background-position: center;
  display: flex;
  justify-content: center;
  align-items: center;
}

/* Refactored section to only deal with layout - text styles are dealt with by ID for more specificity. */
section {
  background-color: rgba(255, 255, 255, 0.7);
  padding: 20px;
  width: 50%;
  border-radius: 50px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  text-align: center;
}

/* Refactored to contain desired quote-text CSS so that script.js doesn't need to modify it directly other than toggling display. */
#quote-text {
  min-height: 150px;
  margin-top: 50px;
  display: flex;
  font-family: "Quicksand", sans-serif;
  font-size: 24px;
  display: none;
}

#title-text {
  font-family: "Dancing Script", cursive;
  font-size: 36px;
}

footer {
  display: block;
  position: fixed;
  right: 10px;
  bottom: 0;
  font-size: 12px;
}

#photo-credit {
  padding-right: 20px;
}

#quote-request-button {
  font-size: 18px;
  padding: 5px 20px;
  border: none;
  color: white;
  background-color: grey;
  border-radius: 10px;
}

/* Enlarges quote section and photo credit font size on small-screen devices. */
@media screen and (max-width: 760px){
  section {
    width: 80%;
  }
  footer {
    font-size: 20px;
  }
}