body {
  background-image: url("background.jpg");
  background-size: cover;
  background-position: center;
  display: flex;
  justify-content: center;
  align-items: center;
  font-family: "Quicksand", sans-serif;
}

section {
  background-color: rgba(255, 255, 255, 0.7);
  padding: 20px;
  width: 50%;
  border-radius: 50px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  text-align: center;
  font-family: "Quicksand", sans-serif;
}

/* Replaced display hidden with display none */
#quote-text {
  display: none;
}

h2 {
  font-family: "Dancing Script", cursive;
  font-size: 36px;
}

footer {
  display: block;
  position: fixed;
  bottom: 0;
  font-size: 12px;
}
/* need to align this to the right! */
#photo-credit {
  padding-right: 20px;
}

#quote-request-button {
  font-size: 18px;
  padding: 5px 20px;
  border: none;
  color: white;
  background-color: grey;
  border-radius: 10px;
}
